XmlFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="seller" type="sellerType"/>
  <xs:complexType name="accountType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="username"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoryType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pricingType">
    <xs:sequence>
      <xs:element type="xs:string" name="currentPrice"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="minimumBid"/>
      <xs:element type="xs:string" name="startingPrice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemsType">
    <xs:sequence>
      <xs:element type="categoryType" name="category"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="pricingType" name="pricing"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sellerType">
    <xs:sequence>
      <xs:element type="accountType" name="account"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="itemsType" name="items"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="nickname"/>
      <xs:element type="xs:string" name="surname"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>